<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/d619b310-7f58-49a3-a65f-4620044ce7d3/resourceGroups/PaylapAPI20230617023155ResourceGroup/providers/Microsoft.ApiManagement/service/PaylapAPIap/apis/PaylapAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <ResourceId>/subscriptions/d619b310-7f58-49a3-a65f-4620044ce7d3/resourcegroups/PaylapAPI20230617023155ResourceGroup/providers/Microsoft.Web/sites/PaylapAPI20230617023155</ResourceId>
    <ResourceGroup>PaylapAPI20230617023155ResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://paylapapi20230617023155.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>a0e006fb-3f91-4137-97ff-29fd431ea8ed</ProjectGuid>
    <PublishUrl>https://paylapapi20230617023155.scm.azurewebsites.net/</PublishUrl>
    <UserName>$PaylapAPI20230617023155</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>